@using BlazorComponents.ChartJS
@using Microsoft.AspNetCore.Blazor.Components

@inherits ChartBase

<div class="row">
    <div class="container">
        <canvas id="@Chart.CanvasId" width="@Width" height="@Height"></canvas>
    </div>
</div>

@functions {

    [Parameter]
    ChartJSPieChart Chart { get; set; }

    protected override void OnAfterRender()
    {
        ChartJSInterop.InitializePieChart(Chart);
    }

    public void UpdateChart(ChartJSPieChart updatedChart)
    {
        ChartJSInterop.UpdatePieChart(updatedChart);
    }    

    protected override IChart GetChart()
    {
        return Chart;
    }

}
