@using BlazorComponents.ChartJS
@using Microsoft.AspNetCore.Blazor.Components

@inherits ChartBase

<div class="row">
    <div class="container">
        <canvas id="@Chart.CanvasId" width="@Width" height="@Height" onclick="@GetEventInformation"> </canvas>
    </div>
</div>

@functions {

    [Parameter]
    ChartJSBarChart Chart { get; set; }
    [Parameter]
    Func<List<ChartJsEventResult>, Task> ProcessClickEventResult { get; set; }

    private async Task GetEventInformation(UIMouseEventArgs e)
    {
        var result = await ChartJS.ChartJSInterop.GetElementsAtEvent(Chart.CanvasId, e);
        await ProcessClickEventResult(result.ToList());
    }

    protected override void OnAfterRender()
    {
        ChartJSInterop.InitializeBarChart(Chart);
    }

    protected override IChart GetChart()
    {
        return Chart;
    }

}
